/*****************        CSS général     ******************/

/* Lien pour les polices importé depuis Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Philosopher&display=swap');

/* Pseudo-élément root qui permet de cibler la racine html */
:root{
    --black:333333;
    --twhite: rgb(255, 255, 255, 0.8); 
    --dark-green :rgb(67, 82, 71);
    --light-green : rgb(142, 170, 151);
    /* Le box-sizing: border-box applique la largueur des éléments, margin et padding inclus 
    box-sizing: border-box;*//*Inutile ici car présent dans bootstrap*/
}
*{
    margin: 0;
    padding: 0; 
}
body{ 
    background: url("../photo/background-portfolio.jpg") top left / cover fixed; /* Super propriété background permet de regrouper les differents propriétés du background*/
    /*background-image: url("../photo/fond.jpg");
    background-size: cover;
    background-attachment: fixed;*/
    font-family: 'Parisienne',Verdana, Helvetica, serif;
    font-size: 1rem;/* Font-size définie en rem pour le body puis en em dans le reste du code, qui se référera au rem du body */    
    margin-top: 70px;
}
.container, .container-fluid{
    width: 90%;
    margin: 0 auto;
}
.titleSection{
    font-size: 2em;
}
h1, h2, h3{
    font-family: 'Parisienne',Verdana, Helvetica, serif;
    text-align: center;
}
p{
    font-family: 'Philisopher',Verdana, Helvetica, sans-serif;
    font-size: 1em;
}
/* Réglage pour compenser le header fixed sur les sections*/
#cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
    position: relative;
    bottom: 130px;
}
img{
    max-width: 100%;
    height: auto;
}
/*Les bordures me permettent de construire la page avec précision, je les mets en commentaires et enleve les commentaires lorsque je souhaite faire des ajustements*/
/*.structure{
    border: 2px solid red;}*/

/*****************        HEADER     ******************/

#header{
    background-color:var(--light-green);    
    position:fixed;
    top: 0;
    z-index: 40;
    font-size: 1.7em;
}
#header a{
    font-size: 0.6em;
    border-radius: 1em;
    background-color: var(--light-green);
}
#header a :hover{
    background-color: var(--light-green);
}


/******************         SECTION  1   ( SLIDER )    *******************/
#welcome-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleWelcomeSection{
    
}
#section1{
    background-color: var(--light-green);
    background-attachment: fixed;
    padding-top: 130px;
}
#section1 h2, h3{
    font-family: 'Philisopher',Verdana, Helvetica, sans-serif;
    font-size: 1rem;
}
.carousel-item {
    background-color: var(--dark-green);
    color: var(--twhite);
}
/******************        SECTION 2  (QUI SUIS JE )   SECTION  4  ( DIPLOME )*****************/

#section2 , #section4{
    color: var(--twhite);
}
.title-accordion{
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
}
.ui-state-active, .ui-button:active, .ui-widget-header{
    background : var(--dark-green);
    background-color: var(--dark-green);
}
.insideaccordion {
    background: none;
    /* height pour donner une hauteur aux sections de l'accordéon */
    height: 17em;
    /* overflow pour générer si besoin un scroll à l'intérieur des sections de l'accordéon */
    overflow: auto;
    /* Utilisation d'une variable crée grâce au pseudo-élément :root en début de fichier */
    color: var(--twhite);
}
.diplomes{
    background-color: var(--light-green);
    box-shadow: 0em 0.2em 1.5em var(--light-green);
    border-radius: 0.4em;
}
#section2 a{
    color: var(--twhite);
    text-decoration: none;
}

/******************         SECTION  3  ( COMPETENCES )     *******************/

#section3{
    background-color: #fff;
    color: var(--light-green);
}

/******************        SECTION 5  ( CONTACT )   *******************/

#section5{
    background-color: #fff;
    color: var(--light-green);
}
#formulaire{
    box-shadow: 0em 0.2em 1.5em var(--light-green);
    border-radius: 0.4em;
}
#message{
    /* Le resize none permet d'enlever le curseur qui agrandit l'espace de texte*/
    resize: none;
}
#section5 label, input , button{
    font-family: 'Philisopher', Verdana, Helvetica, sans-serif;
}
.bouton-valider {
    background-color: var(--light-green);
    border-color:var(--light-green);
}
.bouton-valider:hover{
    color: var(--twhite);
    background-color: var(--dark-green);
}
/******************         MERCI.HTML       *******************/
#merci{    
    /*L'élement ayant une petite hauteur, la propriété min-height va au minimum couvrir la hauteur de l'écran*/
    min-height: 100vh;
    align-items: center;
    color: var(--twhite);
}
/******************         FOOTER       *******************/

#footer
{
    background-color:var(--light-green);     
    font-family: 'Parisienne',Verdana, Helvetica, sans-serif;
}
#footer a{
    font-family: 'Philisopher', Verdana, Helvetica, sans-serif;
    color: var(--twhite);
    text-decoration: none;
}
#footer address{
    color: var(--twhite);
}


/*******************      MEDIA QUERIES  ********************/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px){
    body{
        margin-top: 160px;
    }
    #cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
        bottom: 200px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body{
        margin-top: 200px;
    }
    .container, .container-fluid{
        width: 80%;
        margin: 0 auto;
    }
    #cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
        bottom: 260px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){}