/*****************        CSS général     ******************/

/* Lien pour les polices importé depuis Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Philosopher&display=swap');

/* Pseudo-élément root qui permet de cibler la racine html */
:root{
    --black:333333;
    --white: #ffffff;
    --twhite: rgb(255, 255, 255, .3); 
    --dark-green :#435247;
    --light-green : #8eaa97;
    /* Le box-sizing: border-box applique la largueur des éléments, margin et padding inclus 
    box-sizing: border-box;*//*Inutile ici car présent dans bootstrap*/
}
*{
    margin: 0;
    padding: 0; 
}
body{ 
    background: url("../photo/background-portfolio.jpg") top left / cover fixed; /* Super propriété background permet de regrouper les differents propriétés du background*/
    /*background-image: url("../photo/fond.jpg");
    background-size: cover;
    background-attachment: fixed;*/
    font-family: 'Parisienne',Verdana, Helvetica, serif;
    font-size: 1rem;/* Font-size définie en rem pour le body puis en em dans le reste du code, qui se référera au rem du body */    
    margin-top: 0px;
}
.container, .container-fluid{
    width: 90%;
    margin: 0 auto;
}
.titleSection{
    font-size: 2em;
}
h1, h2, h3{
    font-family: 'Parisienne',Verdana, Helvetica, serif;
    text-align: center;
}
p{
    font-family: 'Philisopher',Verdana, Helvetica, sans-serif;
    font-size: 1em;
}
/* Réglage pour compenser le header fixed sur les sections*/
#cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
    position: relative;
    bottom: 130px;
}
img{
    max-width: 100%;
    height: auto;
}
/*Les bordures me permettent de construire la page avec précision, je les mets en commentaires et enleve les commentaires lorsque je souhaite faire des ajustements*/
/*.structure{
    border: 2px solid red;}*/

/*****************        HEADER     ******************/

#header{
    background-color:var(--light-green);    
    position:fixed;
    top: 0;
    z-index: 40;
    font-size: 1.7em;
}
#header a{
    font-size: 0.6em;
    border-radius: 1em;
    background-color: var(--light-green);
}
#header a :hover{
    background-color: var(--light-green);
}


/******************         SECTION  1   ( SLIDER )    *******************/
#welcome-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1{
    background-color: var(--light-green);
    background-attachment: fixed;
    padding-top: 100px;
}
#section1 h2, h3{
    font-family: 'Philisopher',Verdana, Helvetica, sans-serif;
    font-size: 1rem;
}
.carousel-item {
    background-color: var(--dark-green);
    color: var(--white);
}
/******************        SECTION 2  (QUI SUIS JE )   SECTION  4  ( DIPLOME )*****************/

#section2 , #section4{
    color: var(--white);
    height: 100vh;
}
.title-accordion{
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
}
.ui-state-active, .ui-button:active, .ui-widget-header{
    background : var(--dark-green);
    background-color: var(--dark-green);
}
.insideaccordion {
    background: none;
    /* height pour donner une hauteur aux sections de l'accordéon */
    height: 17em;
    /* overflow pour générer si besoin un scroll à l'intérieur des sections de l'accordéon */
    overflow: auto;
    /* Utilisation d'une variable crée grâce au pseudo-élément :root en début de fichier */
    color: var(--white);
}
.diplomes{
    background-color: var(--light-green);
    box-shadow: 0em 0.2em 1.5em var(--light-green);
    border-radius: 0.4em;
}
#section2 a{
    color: var(--twhite);
    text-decoration: none;
}

/******************         SECTION  3  ( COMPETENCES )     *******************/

#section3{
    background-color: #fff;
    color: var(--light-green);
    height: 100vh;
}

/******************        SECTION 5  ( CONTACT )   *******************/

#section5{
    background: linear-gradient(45deg, var(--light-green), var(--dark-green));
    color: var(--white);
    padding-top: 100px;
    padding-bottom: 200px;
    border-top: 2px solid var(--twhite);
}
#section5 .container{
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}
#formulaire{
    border-radius: 1em;
    background-color: var(--twhite);
    border-left: 1px solid var(--twhite);
    border-top: 1px solid var(--twhite);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    z-index: 1;
}
#message{
    /* Le resize none permet d'enlever le curseur qui agrandit l'espace de texte*/
    resize: none;
}
#section5 label, button{
    font-family: 'Philisopher', Verdana, Helvetica, sans-serif;
    opacity: .8;
    font-size: 1.1em;
}
#section5 input, #message{
    background: transparent;
    border: none;
    border-left: 1px solid var(--twhite);
    border-top: 1px solid var(--twhite);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
}
.bouton-valider {
    background: var(--dark-green);
    border-color: var(--light-green);  
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);  
    padding: 10px;
    border: none;
    border : 2px solid var(--dark-green);
    transition: all .3s;
}
.bouton-valider:hover{
    border : 2px solid var(--dark-green);
    background: linear-gradient(45deg, var(--dark-green), var(--light-green));
}
.drop{    
    position: absolute;
    background: var(--twhite);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border-left: 1px solid var(--twhite);
    border-top: 1px solid var(--twhite);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .2);
}
.drop-1{
    height: 100px;
    width: 100px;
    top:-20px;
    left: -40px;
    z-index: -1;
}
.drop-2{
    height: 120px;
    width: 120px;
    bottom:-20px;
    right: -40px;
    z-index:1;
}
.drop-3{
    height: 24em;
    width: 15em;
    bottom:30%;
    right: 20%;
    z-index:-1;
}
/******************         MERCI.HTML       *******************/
#merci{    
    /*L'élement ayant une petite hauteur, la propriété min-height va au minimum couvrir la hauteur de l'écran*/
    min-height: 100vh;
    align-items: center;
    color: var(--white);
}
/******************         FOOTER       *******************/

#footer
{
    background-color:var(--light-green);     
    font-family: 'Parisienne',Verdana, Helvetica, sans-serif;
    border-top: 2px solid var(--twhite);
}
#footer a{
    font-family: 'Philisopher', Verdana, Helvetica, sans-serif;
    color: var(--white);
    text-decoration: none;
}
.icon{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    color:var(--white);
    transition: all .4s;
    filter: drop-shadow(0 2px 5px var(--dark-green));

}
.icon:hover{
    box-shadow: 0 0 0 3px var(--dark-green);
}


/*******************      MEDIA QUERIES  ********************/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px){

    #cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
        bottom: 100px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
    .container, .container-fluid{
        width: 80%;
        margin: 0 auto;
    }
    #cible-1, #cible-2, #cible-3, #cible-4, #cible-5{
        bottom: 120px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){}