.DS_Store
manuereva/ClickerScript-Regular.ttf
manuereva/page2.html
.gitignore
manuereva/page4.html
manuereva/page5.html
manuereva/ClickerScript-Regular.ttf
.gitignore
manuereva/page2.html
.gitignore
manuereva/style.css
